.side_menu
{
	margin: 0px;
	padding: 0px;
	background-color:  #181a1b;
	max-width:240px;
	width: auto;
}

.side_links a 
{
	display:block;
	padding: 10px ;
	text-decoration: none;
	text-align: center;
	font-family: 'Helvetica';
	border-left-width: 8px;
	border-color: gray;
	border-left-style: solid;
	color: white;
}

.fa
{
	padding: 10px;
	font-size:28px;
	display: block;
	text-align: center;
}

.fa-bank
{
	color: #66a3ff;
}

.fa-car
{
	color:  #ff8c1a;
}

.fa-map-marker
{
	color: #00b300;
}

.fa-heart
{
	color:red;
}