/* Browser first tries to render Arial, if it does not have it
it renders Helvetica and so on.
*/
html, body {
    font-family: Arial, Helvetica, sans-serif;
}

#navigation, #content{
float: left;
}

#menu
{
	width:100%;
	background-color: rgb(0,106,154);
}

/* Always mention padding value else it will take 
the browser default value. When you inspect the element
and view in console , the browser values show as user
agent stylesheet.
*/
#main_menu , .sub_menu
{
	list-style-type:none;
	padding: 0px;
	margin:0px;
}

/*display block is to extend the a tag to li,so if
click anywhere in that block, it will navigate*/
#main_menu a
{
	color:white;
	display: block; 
	text-decoration: none;
	font-family: arial;
	padding:10px;
}

#main_menu li
{
	border-bottom-style: solid;
   border-bottom-width: 1px;
   border-bottom-color: #eeeeee;
}

#main_menu a:hover {
    background-color: #696969;
}

/* Initially all menus are 0 height
and not visible.
*/
.sub_menu {
  overflow: hidden;
  max-height: 0;
  -webkit-transition: all 0.5s ease-out;
}

/*
Open the submenu on hover
*/
#main_menu li:hover .sub_menu {
  display: block;
  max-height: 200px;
}


.sub_menu li{
	background-color: #a8a8a8;
}

.has_child > a:after {
   color: white;
   float: right;
   content: ' >';
}