body {
	margin:0px;
	padding:0px;
}

header {
	background: rgb(255,165,0);
	background: linear-gradient(to bottom, rgba(255,165,0,1), rgba(178,115,0,1));
	padding: 0.5em 0;
	text-transform: uppercase;
	text-align: center;
	text-shadow: 2px 2px gray;
	font-size: 42px;
}

.row {
	color: #303030;	
	overflow: hidden;
	margin: 20px;
	padding:10px;
	box-shadow: 10px 10px 3px #888888;
	border-style: ridge;
}

h2{
	color: #ff8100;
}

#content{
	padding-top: 150px;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#banner{
	position: fixed;
	margin: 0;
    padding: 0;
    width: 100%;
}

.menu li {
    float: left;
    border-right: 1px solid #bbb;
}

.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu li a:hover {
    background-color: #111;
}

.active {
    background-color: #111;
}


li:last-child {
    border-right: none;
}

#social-fb:hover {
     color: #3B5998;
 }
 #social-tw:hover {
     color: #4099FF;
 }
 #social-gp:hover {
     color: #d34836;
 }

  #social-em:hover {
     color: green;
 }

.col_1_4{
	height: 150px;
	width:15%;
	float: left;
	padding-left: 20px;
	padding-bottom: 20px;
}

.col_3_4{
	width:75%;
	float: left;
}

.circleImg{
	height: 150px;

}

footer{
	display: table;
	margin-left:auto;
	margin-right: auto;
}

footer a{
	margin:5px;
	color:#505050;
}
/* Boder box includes content, padding and border, it excludes the margin
All elements neeed to inherit border box*/
html {
    box-sizing: border-box;   

}

*,
*:before,
*:after {
    box-sizing: inherit;
}

 /*
Reference
 http://www.w3schools.com/css/css_navbar.asp
 http://bootsnipp.com/snippets/featured/social-icon-strip-footer
 */